{{#if noResult}}
  Désolé aucun résultat ne correspond à votre recherche <strong>{{query}}</strong>
{{else}}
  Voici les {{messagesCount}} {{#if tooManyResults}}meilleurs {{/if}}résultats de votre recherche <strong>{{query}}</strong> :
{{/if}}
<br/>
{{#each messages}}
<table>
  <tr>
    <td><span style="font-weight: bold;">{{this.author}}</span> <i>(@{{this.username}})</i> {{this.date}}</td>
  </tr>
  <tr>
    <td>{{{this.message}}}</td>
  </tr>
</table>
{{/each}}
