{{#if noResult}}
  Désolé aucun résultat ne correspond à votre recherche <strong>{{query}}</strong>
{{else}}
  Voici les {{messagesCount}} {{#if tooManyResults}}meilleurs {{/if}}résultats de votre recherche <strong>{{query}}</strong> :
{{/if}}
{{#each messages}}
<br/>
<br/>
<table>
  <tr>
    <td><span style="width: 70%; font-weight: bold;">{{this.author}}</span> <i>(@{{this.username}})</i></td>
    <td>{{this.date}}</td>
  </tr>
  <tr>
    <td colspan="2">{{{this.message}}}</td>
  </tr>
</table>
{{/each}}
